<nav>
    <ul class="pagination">
        @foreach (var link in _links)
        {
            <li @onclick="@(() => InternalSelectPage(link))"
                style="cursor: pointer"
                class="page-item @(link.IsEnable ? null : "disabled") @(link.IsEnable ? "active" : null)">
                <a class="page-link"> @link.Text</a>
                    
            </li>
        }
        <li class="mx-2">
            <select class="form-select custom-select" @onchange="InternalRecordsNumberSelected">
                @foreach (var option in _options)
                {
                    <option value="@option.Value">@option.Name</option>
                }
            </select>
        </li>

    </ul>
</nav>

