@page "/api/accounts/ResetPassword"

@if (_loading)
{
    <Loading />
}
<div class="row">
    <div class="col-6">
        <EditForm Model="_recoverDTO" OnValidSubmit="ChangePasswordAsync">
            <DataAnnotationsValidator />
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="bi bi-key" /> Cambiar Contraseña
                        <button class="btn btn-sm btn-primary float-end mx-2" type="submit"><i class="bi bi-check" /> Cambiar Contrasña</button>
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label>Email:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@_recoverDTO.Email" />
                            <ValidationMessage For="@(() => _recoverDTO.Email)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Nueva contraseña:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@_recoverDTO.Password" />
                            <ValidationMessage For="@(() => _recoverDTO.Password)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Confirmar contraseña:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@_recoverDTO.ConfirmPassword" />
                            <ValidationMessage For="@(() => _recoverDTO.ConfirmPassword)" />
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>



